{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}

		<div class="wrapper">
			<h1>Mon Panier 🛒</h1>

			{% if cart|length > 0 %}

			<form action="{{ path('app_commande')}}">

			{% set total = null %}



			<div class="project">
				<div class="shop">
			{% for value in cart %}	
					<div class="box">

			
			{% set total = total + (value.produit.prix * value.quantity) %}
						<img src="{{value.produit.image}}" alt="">
						<div class="content">
							<h3>{{ value.produit.designation}}</h3>
							<h4>Prix : {{ (value.produit.prix * value.quantity)|number_format(2, ',','.') }} €</h4>
								<a href=" {{ path('app_supprimer_article_panier', {'id' : value.produit.id }) }}" class="btn">-</a>
								<p class="unit">Quantité : {{ value.quantity }}</p>
								<a href=" {{ path('app_ajout_panier', {'id' : value.produit.id }) }}" class="btn">+</a>						
							<p class="btn-area">
								<i class="fa-regular fa-trash-can"></i>
								<a href="{{ path('app_supprimer_ligne_panier', {'id': value.produit.id}) }}"><span class="btn2">Supprimer</span></a>
							</p>
						</div>
							
					</div>
				{% endfor %} 
				<a href="{{ path('app_supprimer_panier')}}"><span class="btn">Supprimer le panier</span></a>
				</div>	
				<div class="right-bar">
				<p><span>Total : {{ (total)|number_format(2, ',','.') }} €</span></p>
				<button type="submit"><i class="fa-solid fa-credit-card"></i>Valider mon panier</a></button>
			</div>	

			</form>
			</div>

		
			{% else %}

			<h3>VOTRE PANIER EST VIDE !</h3>

            {% endif %}

		</div>

	

	{# <main class="page-wrapper">
		{% if cart|length > 0 %}

		<div class="container position-relative zindex-2 pt-5 pb-lg-5 pb-md-4 pb-2">
		
			<div class="row">
				<div class="col-lg-12 offset-lg-1 pt-1">
					<h1 class="pt-md-2 my-4 mb-2 mt-lg-5">Mon Panier 🛒</h1>
					<a href="{{ path('app_champagne') }}">Voir les articles</a> - 
					<a href="{{ path('app_supprimer_panier')}}">Supprimer le panier</a>
				
					{% set total = null %}
					{% for value in cart %}
					{% set total = total + (value.produit.prix * value.quantity) %}
					<div class="d-sm-flex align-items-center border-top py-4">
						<a class="d-inline-block flex-shrink-0 rounded-1 p-sm-2 p-xl-3 mb-2 mb-sm-0" href="#">
							<img src="{{value.produit.image}}" alt="Image de la bouteille choisie" width="110"></a>
						<div class="w-100 pt-1 ps-sm-4">
							<div class="d-flex">
								<div class="me-3">
									<h2 class="n5 mb-2">{{ value.produit.designation}}</h2>									
								</div>
								<div class="text-end ms-auto">
									<div class="fs-5 mb-2">Prix : {{ (value.produit.prix * value.quantity)|number_format(2, ',','.') }} €</div>
								</div>
							</div>
							<div class="count-input ms-n3">
								<a href="{{ path('app_supprimer_article_panier', {'id' : value.produit.id }) }}" class="btn btn-icon fs-xl">-</a>
								<input type="number" value="{{ value.quantity }}" readonly>
								<a href="{{ path('app_ajout_panier', {'id' : value.produit.id }) }}" class="btn btn-icon fs-xl">+</a>
							</div>
							<div class="nav justify-content-end mt-n5 mt-sm-n3">
								<a href="{{ path('app_supprimer_ligne_panier', {'id': value.produit.id}) }}" class="nav-link fs-xl p-2" data-bs-toggle="tooltip" title="remove">
									<i class="fa-regular fa-trash-can"></i>
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
					<ul class="liste-unstyled py-3 mb-0">
						<li class="d-flex justify-content-between mb-2">Nombre de produit:<span class="fw-semibold ms-2">{{ cart|length}}</span></li>
					</ul>
					<div class="d-flex align-items-center justify-content-between border-top fs-xl pt-4">Total:<span class="fs-3 fw-semibold text-dark ms-2">{{ (total)|number_format(2, ',','.') }}</span></div>
					<button class="btn btn-lg btn-success w-50 w-sm-auto mt-4" type="submit">Valider mon panier</button>
				</div>
			</div>
		</div>
		{% else %}
			<div class="container d-flex flex-column justify-content-center min-vh-100 py-5">
				<div class="text-center pt-4 mt-lg-2">
					<h3 class="display-5">VOTRE PANIER EST VIDE !</h3>
				</div>
			</div>
		{% endif %}
	</main> #}

		{% endblock %}
