{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}


<div class="container panier">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="mb-5">
        <h1 class="text-center liNav mb-4">Mon Panier 🛒</h1>
        {% if cart|length > 0 %}
          <form action="{{ path('app_commande')}}" class="mb-5">
            {% set total = null %}
            <div class="row mt-5">
              <div class="col-md-8">
                {% for value in cart %}
                  <div class="row mb-4 border-bottom pb-3">
                    <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
                      <img src="{{ vich_uploader_asset(value.produit, 'imageFile') }}" alt="Image du champagne selectionné" class="img-fluid productImage">
                    </div>
                    <div class="col-12 col-md-8 d-flex flex-column justify-content-center">
                      <h3 class="text-center text-md-start">{{ value.produit.designation }}</h3>
                      <h4 class="text-center text-md-start">Prix : {{ (value.produit.prix * value.quantity)|number_format(2, ',','.') }} €</h4>
                      <div class="d-flex justify-content-center justify-content-md-start align-items-center">
                        <a href="{{ path('app_supprimer_article_panier', {'id' : value.produit.id }) }}" class="btn btn-outline-danger btn-sm me-2">-</a>
                        <p class="unit mb-0">Quantité : {{ value.quantity }}</p>
                        <a href="{{ path('app_ajout_panier', {'id' : value.produit.id }) }}" class="btn btn-outline-success btn-sm ms-2">+</a>
                        <a href="{{ path('app_supprimer_ligne_panier', {'id': value.produit.id}) }}" class="btn btn-sm btn-outline-danger ms-3"><i class="fa-regular fa-trash-can"></i> Supprimer</a>
                      </div>
                    </div>
                  </div>
                  {% set total = total + (value.produit.prix * value.quantity) %}
                {% endfor %}
              </div>
              <div class="col-md-4">
                <div class="text-center">
                  <p class="mb-4"><span class="fs-5 fw-bold">Total du Panier :</span> <br> {{ (total)|number_format(2, ',','.') }} €</p>
                  <button type="submit" class="btn btn-outline-success btn-block mb-3"><i class="fa-solid fa-credit-card"></i> Valider mon panier</button>
                  <a href="{{ path('app_supprimer_panier')}}" class="btn btn-outline-danger btn-block mb-3"><i class="fa-regular fa-trash-can"></i> Supprimer le panier</a>
                </div>
              </div>
            </div>
          </form>
        {% else %}
          <h3 class="text-center">VOTRE PANIER EST VIDE !</h3>
        {% endif %}
      </div>
    </div>
  </div>
</div>


		{% endblock %}
