{% extends 'base.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block meta %}
    <meta name="description" content="Connectez-vous facilement à votre compte pour accéder à notre collection de champagnes artisanaux ! Sur cette page de connexion, saisissez vos identifiants pour accéder à votre profil personnel. Profitez d'un processus de connexion fluide et sécurisé, conçu pour vous offrir une expérience utilisateur sans tracas. Célébrez chaque instant avec les meilleurs champagnes, en étant connecté à votre compte pour une expérience d'achat personnalisée et transparente.">

    <meta name="author" content="David Pires">
{% endblock %}

{% block body %}
<div class="container">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="login">
    <h1 class="h3 font-weight-normal liNav text-center">Connexion</h1>
    
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    
        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html #}

        <div class="checkbox mb-3 mt-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
   

    <button class="btn btn-lg border-warning buttonMdp liNav mb-4" type="submit">
        Se connecter
    </button>
    <a class="btn btn-lg border-warning buttonMdp liNav mb-4" href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a>
    </div>
</form>

</div>

{% endblock %}
