{% extends 'base.html.twig' %}

{% block title %}Nos champagnes{% endblock %}

{% block body %}
    <h1 class="titleChamp">Nos Champagnes</h1>

    <section class="productChamp">
{% for champagne in champagnes %}
    <article class="articleChamp">
        <h2>{{champagne.designation}}</h2>
        <img class="productImage" src="{{champagne.image}}" alt="">
        <p>{{champagne.prix}} €</p>
        <p>{{champagne.millesime}}</p>
        <button><a href="{{ path('app_detail_champagne', {champagne: champagne.id})}}">Détails</a></button>
    {% if userInfo.isAdmin %}
        <button><a href="{{ path('app_modifier_champagne', {champagne: champagne.id})}}">Modifier</a></button>
        <button><a href="{{ path('app_supprimer_champagne', {champagne: champagne.id})}}?token={{ csrf_token('supprimer') }}">Supprimer</a></button>
    {% endif %}
    </article>

{% endfor %}
</section>


{% endblock %}
