{% extends 'base.html.twig' %}

{% block title %}{{champagne.designation}}{% endblock %}

{% block body %}

    <section class="detailChamp">
        <img class="detailImg" src="{{champagne.image}}" alt="Image du champagne séléectionné">
            <div class="caption">
                <h1>Nom du champagne : {{champagne.designation}}</h1>
                <p>Description: {{champagne.description}}</p>
                <p>Prix: {{champagne.prix}} €</p>
                <p>Milésime: {{champagne.millesime}}</p>
                <p>Format: {{champagne.format}}</p>
                <p>Cépage: {{champagne.cepage}}</p>
                <p>Type: {{champagne.typeProduit}}</p>
                <div class="buttonContainer">
                    <button class="detailButton"><a href="{{ path('app_ajout_panier', {'id': champagne.id})}}">Ajouter au panier</a></button>
                    <button class="detailButton"><a href="{{ path('app_champagne')}}">Retour</a></button>
                </div>
            </div>
    </section>

{% endblock %}