{% extends 'base.html.twig' %}

{% block title %}{{champagne.designation}}{% endblock %}

{% block meta %}
    <meta name="description" content="Découvrez les détails exquis d'un champagne sélectionné avec soin ! Plongez dans l'histoire de cette cuvée raffinée, produite avec passion et tradition par notre producteur renommé. Explorez les caractéristiques uniques de ce millésime, mis en valeur par des cépages spéciaux. Appréciez chaque gorgée de ce champagne artisanal, créé avec dévotion du vignoble à votre verre. Trouvez le parfait équilibre entre le goût délicat et les bulles exquises, idéal pour célébrer les moments spéciaux avec élégance.">
    <meta name="author" content="David Pires">
{% endblock %}

{% block body %}

    <section class="detailChamp">
        <img class="detailImg" src="{{ vich_uploader_asset(champagne, 'imageFile') }}" alt="Image du champagne seléctionné" />

            <div class="caption">
                <h1 class="liNav mb-4">{{champagne.designation}}</h1>
                <p><span class="fw-bold">Description:</span> {{champagne.description}}</p>
                <p><span class="fw-bold">Prix:</span> {{champagne.prix}} €</p>
                <p><span class="fw-bold">Milésime:</span> {{champagne.millesime}}</p>
                <p><span class="fw-bold">Format:</span> {{champagne.format}}</p>
                <p><span class="fw-bold">Cépage:</span> {{champagne.cepage}}</p>
                <p><span class="fw-bold">Type:</span> {{champagne.typeProduit}}</p>
                <div class="buttonContainer">
                    <button class="detailButton"><a href="{{ path('app_ajout_panier', {'id': champagne.id})}}">Ajouter au panier</a></button>
                    <button class="detailButton"><a href="{{ path('app_champagne')}}">Retour</a></button>
                </div>
            </div>
    </section>

{% endblock %}