{% extends 'base.html.twig' %}

{% block title %}Page Accueil{% endblock %}

{% block body %}

    {# <div {{stimulus_controller("say-hello")}}>
        <input type="text" {{stimulus_target("say-hello","name")}}>
        <button {{stimulus_action("say-hello", "greet")}}>Dire Hello</button> 
    

    <div {{stimulus_target("say-hello", "output")}}></div>
    </div> #}
    <div class="home">
    <h2 class="titleHome">Bienvenue sur Le domaine du roi {{ userInfo.isLoggedIn ? app.user.prenom : "" }} ! </h2>
    <section class="mt-5 container">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{message}}
            </div>
            {% endfor %}
    <div class="accueil">
        
            <p> Bienvenue au Domaine du Roi, la quintessence du champagne artisanal, issu de notre terroir local !
              Nous sommes enchantés de vous accueillir sur notre site, véritable vitrine de notre passion et de notre dévotion envers la création de champagnes authentiques et uniques. Ici, chaque goutte raconte l'histoire de notre famille et de nos racines profondément ancrées dans cette terre fertile qui nous a vu grandir.
              <br>
              Au cœur de notre Domaine, nous cultivons avec amour nos vignobles, guidés par des méthodes traditionnelles transmises de génération en génération. Chaque vendange est une récolte empreinte de soin et de respect pour la nature, car nous croyons fermement en l'harmonie entre l'homme et la terre qui nous nourrit.
              <br>
              En parcourant notre sélection, vous découvrirez une gamme de cuvées uniques, témoignant de l'expression pure de notre terroir. Des assemblages subtils aux cuvées millésimées, chaque bouteille reflète notre savoir-faire artisanal et notre quête constante de l'excellence.
              <br>
              Le Domaine du Roi est bien plus qu'une simple maison de champagne, c'est une invitation à partager notre passion, à savourer l'essence même de notre terroir et à participer à l'histoire de notre vignoble familial. En achetant nos champagnes, vous soutenez directement notre travail acharné et notre amour pour cette noble tradition.
              <br>
              Nous vous remercions de soutenir notre production locale, car chaque achat contribue à préserver notre patrimoine et à perpétuer la magie du champagne artisanal. Nous espérons que vous prendrez autant de plaisir à déguster nos créations que nous en avons eu à les élaborer pour vous.
              <br>
              Santé et à la découverte de nouvelles saveurs en notre compagnie !
            </p>
    </div>
</section>
</div>
<div id="carousel">
  <figure class="spinner" id='spinner'>
  <img src="{{ asset('assets/img/Fichier_72x.png') }}" alt="" >
    <img src="{{ asset('assets/img/grapes-gfda3e27c0_640.jpg') }}" alt="" >
    <img src="{{ asset('assets/img/pexels-oleksandr-pidvalnyi-3036525.jpg') }}" alt="" >    
     <img src="{{ asset('assets/img/jennifer-yung-unsplash.jpg') }}" alt="" >
      <img src="{{ asset('assets/img/anthony-delanoix-vmrCxMRdq58-unsplash.jpg') }}" alt="" >
    <img src="{{ asset('assets/img/vineyard-gf50cc1449_640.jpg') }}" alt="" >  
     <img src="{{ asset('assets/img/pexels-oleksandr-pidvalnyi-3036525.jpg') }}" alt="" >
     <img src="{{ asset('assets/img/grapes-g3981861c3_640.jpg') }}" alt="" >
  </figure>
</div>
<span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
<span style="float:right" class="ss-icon" onclick="galleryspin('+')">&gt;</span>

<script>
var angle = 0;
function galleryspin(sign) {
  spinner = document.querySelector("#spinner");
  if (sign == '+') {
    angle = angle + 45;
  } else {
    angle = angle - 45;
  }
  spinner.setAttribute(
    "style",
    "-webkit-transform: rotateY(" +
      angle +
      "deg); -moz-transform: rotateY(" +
      angle +
      "deg); transform: rotateY(" +
      angle +
      "deg);"
  );
}
</script>
{% endblock %}
