{% extends 'base.html.twig' %}

{% block title %}Page Accueil{% endblock %}

{% block body %}

    {# <div {{stimulus_controller("say-hello")}}>
        <input type="text" {{stimulus_target("say-hello","name")}}>
        <button {{stimulus_action("say-hello", "greet")}}>Dire Hello</button> 
    

    <div {{stimulus_target("say-hello", "output")}}></div>
    </div> #}
    <h2 class="titleHome">Bienvenue sur Le domaine du roi {{ userInfo.isLoggedIn ? app.user.prenom : "" }} ! </h2>
    <section class="backHome">
    <div class="accueil">
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum fugiat eveniet sunt hic quis? Ab autem libero
            velit? Laudantium quidem nobis, sed blanditiis molestiae eos, consequatur cupiditate illo assumenda et iure
            aspernatur, itaque ex veniam inventore magni labore! Eos assumenda dolorem voluptatum dolores natus
            incidunt, maxime, in tenetur debitis maiores omnis cupiditate at. Reprehenderit voluptatem eligendi
            cupiditate? Fugiat magni nihil ullam quos eius amet omnis debitis rem voluptatibus minima. Veniam, nihil
            aperiam nisi harum, ab magnam minima odio doloremque qui porro molestias ipsum repellendus est facere
            impedit aut sapiente quos fuga corrupti totam eius deleniti sed. Iste, blanditiis voluptate, similique ad
            quaerat quam voluptatem autem sequi fugiat earum rerum? Architecto, iste! Fugit ducimus quo mollitia hic
            </p>
    </div>
</section>

<div id="carousel">
  <figure class="spinner" id='spinner'>
  <img src="{{ asset('assets/img/Fichier_72x.png') }}" alt="" >
    <img src="{{ asset('assets/img/image-accueil.jpg') }}" alt="" >
    <img src="{{ asset('assets/img/pexels-oleksandr-pidvalnyi-3036525.jpg') }}" alt="" >    
     <img src="{{ asset('assets/img/jennifer-yung-unsplash.jpg') }}" alt="" >
      <img src="{{ asset('assets/img/anthony-delanoix-vmrCxMRdq58-unsplash.jpg') }}" alt="" >
    <img src="{{ asset('assets/img/image-accueil.jpg') }}" alt="" >  
     <img src="{{ asset('assets/img/pexels-oleksandr-pidvalnyi-3036525.jpg') }}" alt="" >
     <img src="{{ asset('assets/img/image-accueil.jpg') }}" alt="" >
  </figure>
</div>
<span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
<span style="float:right" class="ss-icon" onclick="galleryspin('+')">&gt;</span>

<script>
var angle = 0;
function galleryspin(sign) {
  spinner = document.querySelector("#spinner");
  if (sign == '+') {
    angle = angle + 45;
  } else {
    angle = angle - 45;
  }
  spinner.setAttribute(
    "style",
    "-webkit-transform: rotateY(" +
      angle +
      "deg); -moz-transform: rotateY(" +
      angle +
      "deg); transform: rotateY(" +
      angle +
      "deg);"
  );
}
</script>
{% endblock %}
