{% extends 'base.html.twig' %}

{% block title %}Inscrivez-Vous
{% endblock %}

{% block meta %}

	<meta name="description" content="Rejoignez notre communauté de passionnés de champagne en vous inscrivant dès maintenant ! Sur cette page d'inscription, créez votre compte utilisateur en quelques étapes simples. Profitez d'un accès privilégié à notre collection de champagnes artisanaux. Bénéficiez d'une expérience d'inscription fluide et sécurisée, et célébrez chaque instant avec les meilleurs champagnes, spécialement sélectionnés pour vous. Notre équipe dédiée est là pour vous accompagner tout au long du processus d'inscription, répondant à vos questions et vous souhaitant la bienvenue dans notre univers de bulles exquises.">

	<meta name="author" content="David Pires">
	
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1 class="mb-3 liNav text-center">Inscription</h1>	
	<div class="container text-dark w-50">
	<p class="text-danger">(*) Champs obligatioire</p>
		<div class="row">
				{{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				{{ form_row(registrationForm.nom) }}
				{{ form_row(registrationForm.prenom) }}
				{{ form_row(registrationForm.dateNaissance) }}
				{{ form_row(registrationForm.adresse) }}
				{{ form_row(registrationForm.complementAdresse )}}
				{{ form_row(registrationForm.ville) }}
				{{ form_row(registrationForm.codePostal) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn btn-outline-success mb-5">Valider</button>
				{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
