{% extends 'base.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block meta %}

    <meta name="description" content="Explorez votre historique complet de commandes de champagnes artisanaux ! Sur cette page, retrouvez un récapitulatif détaillé de toutes vos commandes passées, y compris les dates d'achat et les informations de livraison. Profitez d'une vue d'ensemble complète de vos achats passés pour mieux planifier vos prochaines dégustations. Célébrez chaque instant avec les meilleurs champagnes, tout en bénéficiant d'un accès facile à votre historique pour une expérience client personnalisée et transparente.">

    <meta name="author" content="David Pires">
    
{% endblock %}

{% block body %}
    

        <div class="container home">
        <h1 class="text-center liNav mb-4">Mes Commandes</h1>

        {% if commandes is empty %}
            <p class="text-center mt-4">Vous n'avez pas encore passé de commande sur notre site.</p>
            <p class="text-center mt-2">Jetez un œil à nos champagnes ! <a href="{{ path('app_champagne') }}">ici</a></p>
        {% else %}
            <div class="row mt-5">
                {% for commande in commandes %}
                    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="fw-bold m-0">Commande N° {{ commande.reference }}</h3>
                            </div>
                            <div class="card-body">
                                <p><span class="fw-bold">Adresse de livraison :</span> {{ commande.user.adresse }}, {{ commande.user.codePostal }} {{ commande.user.ville }}</p>
                                <p><span class="fw-bold">Transporteur :</span>  {{ commande.transporterName }}</p>
                                <p><span class="fw-bold">Prix du transporteur :</span> {{ commande.transporterPrice }} €</p>
                                <p><span class="fw-bold">Produits :</span></p>
                                <ul class="list-group mb-3">
                                    {% for detail in commande.orderDetails %}
                                        <li class="list-group-item">
                                            <span class="fw-bold">Désignation :</span> {{ detail.product }} -
                                            <span class="fw-bold">Nombre de bouteilles :</span> {{ detail.quantity }} -
                                            <span class="fw-bold">Prix :</span> {{ detail.price }} €
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% set totalPrice = commande.transporterPrice %}
                                {% for detail in commande.orderDetails %}
                                    {% set totalPrice = totalPrice + detail.price %}
                                {% endfor %}
                                <p class="fw-bold">Prix total : {{ totalPrice }} €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="d-flex justify-content-center">
        <button class="rounded bg-black mb-4 mt-4 w-25"><a href='{{ path('app_membre')}}'>Retour</a></button>
        </div>
    </div>
{% endblock %}