
        <section class="footer">
            <nav class="left-footer-menu">
                <ul>
                    <li><a href="{{ path('app_legal') }}">Mentions legales</a></li>
                    <li><a href="{{ path('app_cgv')}}">Conditions générales de ventes</a></li>
                    <li><a href="{{ path('app_utilisation')}}">Conditions d'utilisation</a></li>
                    <li><a href="{{ path('app_faq')}}">FAQ</a></li>
                    <li><a href="{{ path('app_cookies')}}">Vie privée et cookies</a></li>
                </ul>
            </nav>

            <nav class="right-footer-menu">
                <ul>
                    <li><a href="{{ path('app_about')}}">Qui sommes-nous</a></li>
                    <li>Suivez nous :</li>
                    <li><a href="https://fr-fr.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/?hl=fr" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li><a href="{{ path('app_contact')}}">Contactez nous</a></li>
                </ul>
            </nav>
        </section>
        <section class="footer-footer">
            {# <p class="paragraph">Interdiction de vente de boissons alcoolisées aux mineurs</p> #}
            <img class="imageFooter" src="{{ asset('./assets/img/Bandeau-interdiction-vente-alcool-mineur.jpg') }}" alt="Bandeau de prévention">
            <p class="paragraph">L'ABUS D'ALCOOL EST DANGEREUX POUR LA SANTÉ. À CONSOMMER AVEC MODÉRATION</p>           
        </section>