{% extends 'base.html.twig' %}

{% block title %}Ajout de produit{% endblock %}

{% block body %}

<h1 class="mb-3 liNav text-center">Insertion produit</h1>
	<div class="container liNav mb-5">
		<div class="row">
				{{ form_start(ProduitForm, {'attr': {'novalidate': 'novalidate'}}) }}
				{{ form_row(ProduitForm.designation) }}
				{{ form_row(ProduitForm.prix) }}
				{{ form_row(ProduitForm.millesime) }}
				{{ form_row(ProduitForm.stock) }}
				{{ form_row(ProduitForm.imageFile) }}
				{{ form_row(ProduitForm.format) }}
				{{ form_row(ProduitForm.description )}}
				{{ form_row(ProduitForm.typeProduit) }}
				{{ form_row(ProduitForm.cepage) }}

				<button type="submit" class="btn btn-outline-success mb-5 mt-4">Valider</button>
				{{ form_end(ProduitForm) }}
		</div>
	</div>
{% endblock %}
