{% extends 'base.html.twig' %}

{% block title %}Admin | Membre Management {% endblock %}

{% block body %}

{# <div class="container">
    <div class="row text-center">
     <h1 class="text-dark text-center">Utilisateurs inscrits</h1>
        {% for member in members %}
        {% if "ROLE_SUPER_ADMIN" not in member.roles %}
            <div class="col-12 col-sm-4 p-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Email :</h5>
                        <p class="card-text">{{ member.email }}</p>
                        <hr>
                        <h5 class="card-title">Nom:</h5>
                        <p class="card-text">{{ member.nom }}</p>
                        <hr>
                        <h5 class="card-title">Prenom :</h5>
                        <p class="card-text">{{ member.prenom }}</p>
                        <hr>
                        <h5 class="card-title">Adresse :</h5>
                        <p class="card-text">{{ member.adresse }}</p>
                        <hr>
                        <h5 class="card-title">Ville :</h5>
                        <p class="card-text">{{ member.ville }}</p>
                        <hr>
                        <h5 class="card-title">Code Postal :</h5>
                        <p class="card-text">{{ member.codePostal }}</p>
                        <hr>
                        <h5 class="card-title">Date de naissance :</h5>
                        <p class="card-text">{{ member.dateNaissance|date('d-m-Y') }}</p>
                        <hr>
                        <h5 class="card-title">Date d'enregistrement :</h5>
                        <p class="card-text">{{ member.dateEnregistrement|date('d-m-Y') }}</p>
                        <hr>
                        <h5 class="card-title"> Supprimer le compte</h5>
                        <a class="btn" href="{{ path('app_supprimer_membre', {member: member.id})}}?token={{ csrf_token('supprimer')}}"><i class="fa-regular fa-trash-can" style="color: #ec0404;"></i></a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div> #}
<div class="container ml-4 mb-5">
 <h1 class="text-center liNav">Utilisateurs inscrits</h1>
<table class="table mt-5">
  <thead>
    <tr class="liNav">
      <th scope="col">Email</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
     {% for member in members %}
        {% if "ROLE_SUPER_ADMIN" not in member.roles %}
  <tbody>
    <tr>
      <td>{{ member.email }}</td>
      <td>{{ member.nom }}</td>
      <td>{{ member.prenom }}</td>
      <td><a class="btn" href="{{ path('app_supprimer_membre', {member: member.id})}}?token={{ csrf_token('supprimer')}}"><i class="fa-regular fa-trash-can" style="color: #ec0404;"></i></a> </td>
    </tr>
  </tbody>
              {% endif %}
        {% endfor %}
</table>
</div>
{% endblock %}