{% extends 'base.html.twig' %}

{% block title %}Admin | Membre Management {% endblock %}

{% block meta %}
  <meta name="description" content="Gérez facilement les membres inscrits de notre communauté de passionnés de champagne ! En tant que super-administrateur, vous pouvez afficher et gérer les profils des utilisateurs inscrits. Simplifiez la gestion de la communauté en supprimant les comptes inactifs ou en répondant aux demandes des membres. Assurez-vous d'offrir une expérience fluide et sécurisée à chaque membre de notre communauté dédiée au champagne artisanal.">
  <meta name="author" content="David Pires"> 

{% endblock %}

{% block body %}

<div class="container ml-4 home">
 <h1 class="text-center liNav ">Utilisateurs inscrits</h1>
<table class="table mt-5">
  <thead>
    <tr class="liNav">
      <th scope="col">Email</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
     {% for member in members %}
        {% if "ROLE_SUPER_ADMIN" not in member.roles %}
  <tbody>
    <tr>
      <td>{{ member.email }}</td>
      <td>{{ member.nom }}</td>
      <td>{{ member.prenom }}</td>
      <td><a class="btn" href="{{ path('app_supprimer_membre', {member: member.id})}}?token={{ csrf_token('supprimer')}}"><i class="fa-regular fa-trash-can" style="color: #ec0404;"></i></a> </td>
    </tr>
  </tbody>
              {% endif %}
        {% endfor %}
</table>
</div>
{% endblock %}