{% extends 'base.html.twig' %}

{% block title %}Admin | Membre Management {% endblock %}

{% block body %}
<h1 class="text-white text-center">Utilisateurs inscrits</h1>

{% for member in members %}
<section class="container my-3 bg-white">
    <div class="row">
    <div class="col">
        <p>Identifiant: {{member.email}}</p>
        <p>Nom: {{member.nom}}</p>
        <p>Prenom: {{member.prenom}}</p>
        <p>Date de naissance: {{member.dateNaissance|date('d-m-Y')}}</p>
        <p>Mon adresse: {{member.adresse}}</p>
        <p>Ville: {{member.ville}}</p>
        <p>Code Postal: {{member.codePostal}}</p>
        <p>Date d'inscritption: {{member.dateEnregistrement|date('d-m-Y')}}</p>
        <p>Compte verifié: {{member.isVerified}}</p>
        <button class="btn btn-success"><a href="{{ path('app_modifier_membre', {member: member.id})}}">Modifier</a></button>
        <button class="btn btn-danger"><a href="{{ path('app_supprimer_membre', {member: member.id})}}?token={{ csrf_token('supprimer')}}">Supprimer</a></button>
    </div>
    </div>
</section>
{% endfor %}

{% endblock %}